.hero-banner {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	background: linear-gradient(175deg, #3f51b5, 70%, #2483d1);
	color: white;
	padding: 3rem 1rem;
	margin-top: -2.5rem;
	margin-bottom: 2rem;
}
.hero-banner h1 {
	color: white;
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1px;
}
.hero-banner p {
	font-size: 1.5rem;
	margin-top: 1px;
}

.hero-content {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}



.md-header--shadow {
	box-shadow: none;
}

body {
	color: rgba(0, 0, 0, 0.87);
}


.md-typeset h2 {
    font-weight: 600;
}
.md-typeset h2 {
	margin: 1.5em 0 0 0;
}

.md-typeset pre > code {
  border-radius: 0.5em;
}